@import 'settings';


* {
    box-sizing: border-box;
}
body {
    //width: 100%;
}

.background {
    background: $gradient, url("../img/backgroundheader.jpeg");
    background: cover;
    height: 42vw;
    width: 100%;
}

.fblue {
    color: $color2;
}
.topmarg {
    margin: 20px 130px;
}
.headleft {
    font-size: 1.5vw;
}
.headbottom {
    top-margin: 10px;
    font-size: 2vw;
}
.superlarge {
    font-size: 8vw;
    color: $color1;
}
li>img {
    height:4vw;
}
.panel1 {
    margin: $margin $margin $margin 100px;
}
.color4 {
    color: #106db3;
}
.blogtitle {
    font-size: 60px;
    color: $color2;
    font-weight: bold;
    font-family: 'Archivo Narrow', sans-serif;
}
.woah {
    color: #106db3;
    font-size: 30px;
}
.bodytext {
    line-height: 40px;
    margin-right: 60px;
}

.blogpic {
    background: $gradient, url("../img/square.25.jpg");
    background: cover;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}
.bigblogpic {
    background: $gradient, url("../img/square.100.jpg");
    background-repeat: no-repeat;
    background: cover;
    //background-color: $color2;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.lightg {
    color: #a3b3bf;
}
.ata {
    margin-right: 30px;
}
.tfi {
    color: $color3;
    font-size: 14px;
}
.adpic {
    background: $gradient, url("../img/ad.resize.jpg");
    background-repeat: no-repeat;
    background: cover;
    //background-color: $color2;
    height: 300px;
    width: 250px;
}
.sbarh{
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 20px;
}
.sidebarp {
    margin-right: 30px;
    color: rgb(120, 124, 149);
    line-height: 30px;
    font-size: 12px;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.mpp {
    font-size: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.flexbox {
    display:flex;
    flex-direction: column;
    flex:12;
    width: 100%;
    //padding: 0 10px;

}
.pic1 {
    background-image: $gradient, url("http://unsplash.it/300?image-222?");
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vw;
    flex:3;
    display:flex;
    align-items: flex-end;
}
.pic1text {
        font-size: 3vw;
        flex:1;
    }

.pic1:hover {
        background-image: url("http://unsplash.it/300?image=222");
        color: white;
}
.pic2 {
    background-image: $gradient, url("http://unsplash.it/300?image=434");
    background-size: cover;
    background-repeat: no-repeat;
    height: 25vw;
    flex:3;
    display:flex;
    align-items: flex-end;
}
.pic2text {
    font-size: 3vw;
    flex:1;
    }

.pic2:hover {
        background-image: url("http://unsplash.it/300?image=434");
        color: white;
}

.pic3 {
    background-image: $gradient, url("http://unsplash.it/300?image=44");
    background-repeat: no-repeat;
    background-size: cover;
    height:25vw;
    flex:3;
    display:flex;
    align-items: flex-end;
}
.pic3text {
    font-size: 3vw;
    flex:1;
    }

.pic3:hover {
        background-image: url("http://unsplash.it/300?image=44");
        color: white;
}
.pic4 {
    background-image:$gradient, url("http://unsplash.it/300?image=244");
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vw;
    flex:3;
    display:flex;
    align-items: flex-end;
}
.pic4text {
    font-size: 3vw;
    flex:1;
    }

.pic4:hover {
        background-image: url("http://unsplash.it/300?image=244");
        color: white;
}
//footer
.footer {
    background-color: rgba(8,52,82,1);
    height: 80px;
    color: white;
}

.iron {
    height: 3vw;
}



/*desktop*/
 @media screen and (min-width: 768px) {
     .flexbox {
         flex-direction:row;
     }
}
