* {
  box-sizing: border-box;
}

.background {
  background: linear-gradient(rgba(30, 91, 143, 0.5), rgba(34, 111, 170, 0.4)), url("../img/backgroundheader.jpeg");
  background: cover;
  height: 42vw;
  width: 100%;
}

.fblue {
  color: #083452;
}

.topmarg {
  margin: 0 40px;
}

.headleft {
  font-size: 1.5vw;
}

.headbottom {
  top-margin: 10px;
  font-size: 2vw;
}

.superlarge {
  font-size: 8vw;
  color: white;
  padding-top: 50px;
}

li > img {
  height: 4vw;
}

.panel1 {
  margin: 50px 50px 50px 100px;
}

.color4 {
  color: #106db3;
}

.blogtitle {
  font-size: 6vw;
  color: #083452;
  font-weight: bold;
  font-family: 'Archivo Narrow', sans-serif;
}

.woah {
  color: #106db3;
  font-size: 4vw;
}

.bodytext {
  line-height: 40px;
  margin-right: 60px;
}

.blogpic {
  background: linear-gradient(rgba(30, 91, 143, 0.5), rgba(34, 111, 170, 0.4)), url("../img/square.25.jpg");
  background: cover;
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.bigblogpic {
  background: linear-gradient(rgba(30, 91, 143, 0.5), rgba(34, 111, 170, 0.4)), url("../img/square.100.jpg");
  background-repeat: no-repeat;
  background: cover;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.lightg {
  color: #a3b3bf;
}

.ata {
  margin-right: 30px;
}

.tfi {
  color: #948f90;
  font-size: 14px;
}

.adpic {
  background: linear-gradient(rgba(30, 91, 143, 0.5), rgba(34, 111, 170, 0.4)), url("../img/ad.resize.jpg");
  background-repeat: no-repeat;
  background: cover;
  height: 300px;
  width: 250px;
}

.sbarh {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 20px;
}

.sidebarp {
  margin-right: 30px;
  color: #787c95;
  line-height: 30px;
  font-size: 12px;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.mpp {
  font-size: 6vw;
  padding-top: 30px;
  padding-bottom: 30px;
}

.flexbox {
  display: flex;
  flex-direction: column;
  flex: 12;
  width: 100%;
}

.pic1 {
  background-image: linear-gradient(rgba(30, 91, 143, 0.5), rgba(34, 111, 170, 0.4)), url("http://unsplash.it/300?image-222?");
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vw;
  flex: 3;
  display: flex;
  align-items: flex-end;
}

.pic1text {
  font-size: 3vw;
  flex: 1;
}

.pic1:hover {
  background-image: url("http://unsplash.it/300?image=222");
  color: white;
}

.pic2 {
  background-image: linear-gradient(rgba(30, 91, 143, 0.5), rgba(34, 111, 170, 0.4)), url("http://unsplash.it/300?image=434");
  background-size: cover;
  background-repeat: no-repeat;
  height: 25vw;
  flex: 3;
  display: flex;
  align-items: flex-end;
}

.pic2text {
  font-size: 3vw;
  flex: 1;
}

.pic2:hover {
  background-image: url("http://unsplash.it/300?image=434");
  color: white;
}

.pic3 {
  background-image: linear-gradient(rgba(30, 91, 143, 0.5), rgba(34, 111, 170, 0.4)), url("http://unsplash.it/300?image=44");
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vw;
  flex: 3;
  display: flex;
  align-items: flex-end;
}

.pic3text {
  font-size: 3vw;
  flex: 1;
}

.pic3:hover {
  background-image: url("http://unsplash.it/300?image=44");
  color: white;
}

.pic4 {
  background-image: linear-gradient(rgba(30, 91, 143, 0.5), rgba(34, 111, 170, 0.4)), url("http://unsplash.it/300?image=244");
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vw;
  flex: 3;
  display: flex;
  align-items: flex-end;
}

.pic4text {
  font-size: 3vw;
  flex: 1;
}

.pic4:hover {
  background-image: url("http://unsplash.it/300?image=244");
  color: white;
}

.footer {
  background-color: #083452;
  height: 80px;
  color: white;
}

.iron {
  height: 3vw;
}

/*desktop*/
@media screen and (min-width: 768px) {
  .flexbox {
    flex-direction: row;
  }
}
